ul {
    padding: 0;
    width: 400px;
}

li {
    padding-top:5px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

li:hover{
    background-color: grey;
    border-radius: 20px;
}

.label {
    padding-left: 20px;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 380px;
    color: #fff;
    text-align: end;
    border-radius: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
} 

.tooltip:hover .tooltiptext {
    visibility: visible;
}