@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    font-family: 'Press Start 2P', cursive !important; 
    font-size: 12px;
    
}

.header-h1 h1 {
    margin-bottom: 10px;
}

